.Access {
  padding-top: 30px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.input-container {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 20px;
    height: 50px;
    padding-left: 20px;
    border-radius: 500px;
    border: solid 1px lightgrey;
  }
}

.access-title {
  margin-bottom: 30px;
  font-size: 20px;
}

.sign-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 50px;
  border-radius: 500px;
  border: 0;
  background: #389cff;
  color: white;
  margin-bottom: 20px;
}

.switch{
  align-self: center;
}