.post-container {
  width:100%;
  padding-left: 5%;
  padding-right: 5%;
  /*background-color: lightgray;*/
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .shop{
      margin-bottom: 12px;
  }

  .username{
      font-weight: bold;
  }

  .avatar {
    height: 45px;
    width: 45px;
    border-radius: 500px;
    margin-right: 12px;
    background-size: cover;
    background-position: center;
  }

  .post-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .reaction{
      span{
          margin-right: 12px;
          font-weight: bold;
          font-size: 14px;
      }
  }

}
